<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocol="v3" />
    <add key="GitHub" value="https://nuget.pkg.github.com/alpac-organization/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <GitHub>
      <add key="Username" value="alpac-organization" />
      <add key="ClearTextPassword" value="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" />
    </GitHub>
  </packageSourceCredentials>
</configuration>